html, body{
            margin:0px;
            padding:0px;
            background-color:white;
            font-family:"Times New Roman";
        }

        #menuItems{
            position:fixed;
            top:0px;
            left:0px;
            width:260px;
            height:100vh;
            background-color:black;
            z-index:2;
            display:flex;
            flex-direction:column;
        }

        #menuItems button{
            width:100%;
            background-color:blue;
            color:white;
            border-width:2px;
            border-style:solid;
            border-color:black;
            font-family:Arial;
            font-size:24px;
            padding-top:16px;
            padding-bottom:16px;
        }

        #menuItems button:hover{
            background-color:goldenrod;
            color:black;
        }

        #jumpMenu{
            list-style-type:none;
            margin:0px;
            padding:0px;
            background-color:goldenrod;
            display:none;
        }

        #recentArticles:hover + #jumpMenu,
        #jumpMenu:hover{
            display:block;
        }

        #jumpMenu a{
            display:block;
            text-align:center;
            padding-top:6px;
            padding-bottom:6px;
            color:blue;
            text-decoration:none;
            font-size:22px;
        }

        #jumpMenu a:hover{
            background-color:blue;
            color:white;
            text-decoration:underline;
        }

        main{
            margin-left:260px;
            padding-top:120px;
            padding-right:30px;
            padding-bottom:30px;
            padding-left:30px;
        }

        header{
            position:fixed;
            top:0px;
            left:260px;
            right:0px;
            height:90px;
            background-color:red;
            z-index:1;
            display:flex;
            align-items:center;
            justify-content:center;
        }

        header p{
            margin:0px;
            font-size:40px;
        }

        h1{
            text-align:center;
            font-weight:bold;
            font-size:clamp(32px, 4vw, 54px);
            margin-top:30px;
            margin-bottom:30px;
        }

        #container{
            width:92%;
            margin-left:auto;
            margin-right:auto;
            display:grid;
            grid-template-columns:repeat(auto-fit, 300px);
            column-gap:60px;
            row-gap:60px;
            justify-content:center;
        }

        article{
            width:300px;
            color:#b5b5b5;
            transform:scale(1);
            transition:color 2s, transform 2s;
        }

        article:hover{
            color:#1e1e1e;
            transform:scale(1.06);
        }

        article > p:first-of-type{
            text-align:justify;
            font-size:14px;
            line-height:18px;
        }

        article > p:first-of-type::first-letter{
            font-family:"Times New Roman", Times, serif;
            font-size:36px;
        }

        article a[href*="google.com"]::after{
            content:"";
            display:inline-block;
            width:18px;
            height:18px;
            margin-left:10px;
            vertical-align:middle;
            background-image:url("arrow.png");
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
        }

        #thanks{
            position:fixed;
            right:0px;
            bottom:0px;
            margin:0px;
            background-color:#87c7ef;
            border-width:2px;
            border-style:solid;
            border-color:#2b2b2b;
            width:420px;
            padding:18px;
            text-align:center;
            font-size:40px;
            font-weight:bold;
        }

        #thanks a{
            color:blue;
            text-decoration:underline;
            font-size:40px;
        }
